body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/background-login.jpg);
}

#form-register {
    display: flex;
    width: fit-content;
    height: fit-content;
    margin: 100px auto;
    text-align: center;
}

#form-register .register-left,
.register-right__top {
    width: 600px;
    border-radius: 56px;
    background: #FFFAFA;
}

.form-group input,
.form-group select {
    width: 474px;
    height: 58px;
    background: #D9D9D9;
    border-radius: 13px;
    margin-bottom: 45px;
    padding-left: 20px;
    border: none;
    font-size: 20px;
}

.form-group select {
    width: 495px;
    background: #D9D9D9 url("data:image/svg+xml,<svg height='10px' width='14px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
    background-position: calc(100% - 0.75rem) center !important;
    -moz-appearance:none !important;
    -webkit-appearance: none !important; 
    appearance: none !important;
}
.form-group select, .form-group select option,
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #FFFFFF!important;
    font-size: 20px;
    font-weight: 400;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
}

/*left*/
.register-left {
    height: 734px;
    margin-right: 70px;
}

.register-left img {
    width: 258px;
    height: 105px;
    margin-top: 40px;
    margin-bottom: 120px;
}

/*left*/

/*right*/
.register-right__top {
    height: 503px;
}

.register-right__bottom {
    margin-top: 50px;
}

.btn-regis {
    width: 420px;
    height: 107px;
    background: var(--mau-button-login);
    border-radius: 26px;
    font-weight: 800;
    font-size: 40px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.success-msg{
    color: red;
    font-size: 20px;
    display: none;
}
/*right*/